Flask
flask-cors
requests
numpy
pandas
python-dotenv
gunicorn
scipy
rasterio
xarray
netCDF4
h5py
earthengine-api
geopandas
shapely
pyproj
matplotlib
Pillow

#command to get all dependencies
#pip install -r requirements.txt